@model Product

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Title</label>
            <input asp-for="Title" type="text" calss="form-control" readonly></input>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <input asp-for="Description" type="text" calss="form-control" readonly></input>
        </div>
        <div class="mb-3">
            <label>ISBN</label>
            <input asp-for="ISBN" type="text" calss="form-control" readonly></input>
        </div>
        <div class="mb-3">
            <label>Author</label>
            <input asp-for="Author" type="text" calss="form-control" readonly></input>
        </div>
        <div class="mb-3">
            <label>ListPrice</label>
            <input asp-for="ListPrice" type="text" calss="form-control" readonly></input>
        </div>
        <div class="mb-3">
            <label>Price</label>
            <input asp-for="Price" type="text" calss="form-control" readonly></input>
        </div>
        <div class="mb-3">
            <label>Price50</label>
            <input asp-for="Price50" type="text" calss="form-control" readonly></input>
        </div>
        <div class="mb-3">
            <label>Price100</label>
            <input asp-for="Price100" type="text" calss="form-control" readonly></input>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-primary">back to list</a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}