@model ProductVM

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden/>
    <div class="row">
        <div class="col-8">
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label>Title</label>
                    <input asp-for="Product.Title" type="text" class="form-control"></input>
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Description</label>
                    <textarea asp-for="Product.Description" type="text" class="form-control"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>ISBN</label>
                    <input asp-for="Product.ISBN" type="text" class="form-control"></input>
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Author</label>
                    <input asp-for="Product.Author" type="text" class="form-control"></input>
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>ListPrice</label>
                    <input asp-for="Product.ListPrice" type="text" class="form-control"></input>
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Price</label>
                    <input asp-for="Product.Price" type="text" class="form-control"></input>
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Price50</label>
                    <input asp-for="Product.Price50" type="text" class="form-control"></input>
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Price100</label>
                    <input asp-for="Product.Price100" type="text" class="form-control"></input>

                </div>
                <div class="mb-3">
                    <label>ImageURL</label>
                    <input type="file" name="file" class="form-control"></input>
                    <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Category</label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" type="text" class="form-select">
                        <option disabled selected>__Select Category__</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                @if (Model.Product.Id == 0)
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                }
                <a asp-controller="Product" asp-action="Index" class="btn btn-primary">back to list</a>
            </div>
        </div>
        <div class="col-4">
            <img src="@Model.Product.ImageUrl" width="100%" style="border:5px; border:1px solid #bbb9b9"></img>
        </div>
    </div>
</form>
@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
