@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br/><br/>
        <img src="~/images/product/2d909fd8-34a8-4ab2-b23c-8bc35f914109.jpg" width="35%"></img>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Your Order Has been Places Successfully! <br/>
    </div>
</div>